* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000129;
  font-family: Arial, Helvetica, sans-serif;
}


h1{
  color: #f1f1f8;
  text-align: center;
  position: relative;
  top: 4rem;
}
p{
  color: #f1f1f8;
  text-align: center;
  position: relative;
  top: 5rem;
}
.memory-game {
  width: 540px;
  height: 540px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:hover {
  cursor: pointer;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  background: #3438ff;
  transform: rotateY(180deg);
}

.back-face {
  background: #3438ff;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
